body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.new,
.returning,
.how-to-play {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    font-size: 24px;
    padding-left: 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-menu {
    margin-top: 50px;
}

.returning {
    margin-right: 15px;
    margin-left: 15px;
}

@media screen and (max-width: 555px) {
    .start-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .new,
    .returning,
    .how-to-play {
        width: -webkit-fill-available;
    }

    .returning {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
